
@media screen and (min-width:768px){
    .hero_mobile {
        display:none;
    }
}

@media screen and (max-width: 768px) {
    .break {
        
        background-attachment: local; 
    
    }
}

.wp-block-navigation-item__content{
  font-size: 15px;
  
}
