
@media screen and (min-width:780px){
    .hero_mobile {
        display:none;
    }
}

.wp-block-navigation-item__content{
  font-size: 15px;
  
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 100%;
    padding: 0 4px;
    
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  .image:hover {transform: scale(2);
 cursor:pointer;
}
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 33%;
      max-width: 100%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 50%;
      max-width: 100%;
    }
  }

 .img-button, .explore-button {
    margin-top: 20px;
    
 }
 .img-container{
  color: white;
 }

 .img-desc{
  margin-top:0px;
 }
 .img-title{ margin:0px}

 .ft-hero {
 width:100%;
 height:auto;
 }
@media screen and (min-width:768px){
 .wp-block-cover.aligncenter.has-aspect-ratio:hover {
 transform: scale(1.1)
 }

 .wp-block-button__link.has-contrast-light-color.has-text-color.has-link-color.has-text-align-center.wp-element-button{
  transition: .1s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;

 }

 .wp-block-cover.aligncenter.has-aspect-ratio:hover {
  opacity:0.8;
 }
 .wp-block-button__link.has-contrast-light-color.has-text-color.has-link-color.has-text-align-center.wp-element-button:hover {
  opacity:1;
 }
}
